<%include ../partials/header%>
  <h1>This is seller</h1>
  <a href="/seller/sell" class='btn btn-lg btn-primary'>Sell Data</a>
  <a href="/general">Category View </a>
  <a href="/seller/mydata">Show my data</a>
  
<%include ../partials/footer%>
